<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0" metadata-complete="true">
    <servlet>
        <servlet-name>MyServ</servlet-name>
        <servlet-class>com.MyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyServ</servlet-name>
        <url-pattern>/MyServ</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Form</servlet-name>
        <servlet-class>com.Form</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Form</servlet-name>
        <url-pattern>/Form</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Exception</servlet-name>
        <servlet-class>com.Exception</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Exception</servlet-name>
        <url-pattern>/Exception</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Task12</servlet-name>
        <servlet-class>com.Task12</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Task12</servlet-name>
        <url-pattern>/Task12</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Task13</servlet-name>
        <servlet-class>com.Task13</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Task13</servlet-name>
        <url-pattern>/Task13</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Task14</servlet-name>
        <servlet-class>com.Task14</servlet-class>
        <init-param>
            <param-name>URL</param-name>
            <param-value>jdbc:mysql://localhost:3306/ListExpenses</param-value>
        </init-param>
        <init-param>
            <param-name>name</param-name>
            <param-value>ViTT</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>password</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Task14</servlet-name>
        <url-pattern>/Task14</url-pattern>
    </servlet-mapping>

    <!--
    Задания 16

    17

    -->
    <security-role>
        <role-name>admin</role-name>
    </security-role>

    <security-role>
        <role-name>user</role-name>
    </security-role>

    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>Auth</realm-name>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/error.jsp</form-error-page>
        </form-login-config>
    </login-config>



    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Task15</web-resource-name>
            <url-pattern>/Task15</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>AddExpenses</web-resource-name>
            <url-pattern>/AddExpenses</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>DeleteExpenses</web-resource-name>
            <url-pattern>/DeleteExpenses</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    <servlet>
        <servlet-name>Task15</servlet-name>
        <servlet-class>task15.Task15</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Task15</servlet-name>
        <url-pattern>/Task15</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddExpenses</servlet-name>
        <servlet-class>task16.AddExpenses</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddExpenses</servlet-name>
        <url-pattern>/AddExpenses</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteExpenses</servlet-name>
        <servlet-class>task16.DeleteExpenses</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteExpenses</servlet-name>
        <url-pattern>/DeleteExpenses</url-pattern>
    </servlet-mapping>
    
</web-app>